<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1000 seconds">
    <timestamp key="date" datePattern="yyyyMMdd" />
    <!-- Output to Console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level %C:%L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- Output to File -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./log/meipan.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ./log/meipan.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <!-- keep 1 days worth of history -->
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level %C:%L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Output to DB -->
    <!--     <appender name="MSSQL" class="ch.qos.logback.classic.db.DBAppender">
             <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
                <dataSource class="com.alibaba.druid.pool.DruidDataSource">
                    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
                    <property name="url" value="jdbC:mysql://192.168.1.251:3306/zkby_oa?useUnicode=true&amp;characterEncoding=utf8" />
                    <property name="username" value="root" />
                    <property name="password" value="Root@123456" />
                    <sqlDialect class="ch.qos.logback.core.db.dialect.MySQLDialect" />
                </dataSource>
            </connectionSource>

        </appender>  -->


    <!-- 打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和  OFF 默认是DEBUG -->
    <root level="ERROR">
        <appender-ref ref="Console" />
    </root>

    <logger name="org.springframework" level="INFO">
        <appender-ref ref="File" />
    </logger>
    <logger name="org.apache.ibatis" level="INFO">
        <appender-ref ref="File" />
    </logger>

    <logger name="java.sql.Connection" level="DEBUG">
        <appender-ref ref="File" />
    </logger>
    <logger name="java.sql.Statement" level="DEBUG">
        <appender-ref ref="File" />
    </logger>
    <logger name="java.sql.PreparedStatement" level="DEBUG">
        <appender-ref ref="File" />
    </logger>

    <logger name="net.znuc.meipan" level="DEBUG" addtivity="false">
        <appender-ref ref="File" />
        <!-- <appender-ref ref="MSSQL" /> -->
    </logger>
</configuration>